<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>like btn</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="root">
    <!-- <div v-if="likeYn">♥</div> -->
    <!-- *v-if/v-else는 붙어 있어야됨-->
    <button v-if="likeYn">♥</button> 
    <button v-else v-on:click="onClickBtn">♡</button>
</div>
</body>

<script>
    //el, data, methods :: 속성명
    const app = new Vue({
       el: '#root',
       data: {
            likeYn: false,
       }, 
       methods: {
        onClickBtn() {
            this.likeYn = true;
        },
       },
    });
</script>
</html>